
 A:link {
	COLOR: #FFF;
	TEXT-DECORATION: none
}
A:visited {COLOR: #FFF; TEXT-DECORATION: none}
A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none
}
 
 #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #eee;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
  }

.buttonadd {
    background-color: #33ccff;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  .buttonadd:hover {
    background-color: #0099ff;
    color: white;
  }

.buttondetail {
    background-color: #00e426de;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
  }

  .buttondetail:hover {
    background-color: #00c400cc;
    color: white;
  }
  .btndel {
    background-color: #ff0000bd;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 2px 2px; */
    cursor: pointer;
    border-radius: 12px;
  }

  .btndel:hover {
    background-color: #ad0000;
    color: white;
  }

  .btnsh {
    background-color: #deee00be;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 2px 2px; */
    cursor: pointer;
    border-radius: 12px;
  }

  .btnsh:hover {
    background-color: #9a9c00;
    color: white;
  }
